[defaults]
inventory = ./inventories/hosts.yml
remote_user = cto
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False
timeout = 30
forks = 10
log_path = ansible.log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r
pipelining = True
