apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
  labels:
    component: kube-vip
spec:
  containers:
    - name: kube-vip
      image: plndr/kube-vip:{{ kube_vip_version }}
      args:
        - start
        - --interface
        - {{ interface }}
        - --vip
        - {{ vip_address }}
        - --controlplane
        - --arp
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - SYS_TIME
      volumeMounts:
        - name: kube-vip-config
          mountPath: /kube-vip/
  hostNetwork: true
  volumes:
    - name: kube-vip-config
      hostPath:
        path: /etc/kubernetes/manifests/kube-vip.yaml
